@media only screen and (max-width: 1899px) {
    .project-style-three {
        padding-top: 0px;
    }

}

@media only screen and (max-width: 1499px) {

    .header-lower {
        padding-left: 60px;
        padding-right: 60px;
    }

    .main-footer .image-layer-1,
    .main-footer .image-layer-2,
    .main-footer .image-layer-3 {
        display: none;
    }

    .main-footer .contact-widget {
        padding: 0px;
    }

}


@media only screen and (max-width: 1399px) {}



@media only screen and (max-width: 1200px) {

    .main-project,
    .main-header.style-one .outer-container:before {
        display: none !important;
    }

    .project-area .mobile-nav-toggler {
        display: block;
        padding-top: 143%;
    }

    .main-header .project-area:before {
        display: none;
    }

    .header-lower .shape {
        display: none;
    }

    .header-lower {
        padding-top: 15px;
    }

    .banner-section {
        padding-left: 0px;
    }

    .banner-section .social-links {
        display: none;
    }

    .banner-style-two .slider-content .single-seller .content-box {
        width: 100%;
        left: 0px;
    }

    .seller-section .inner-container {
        padding: 0px;
    }

    .main-footer .links-widget {
        padding: 0px;
    }

    .main-content-outerbox .mobile-project {
        position: fixed;
        width: 300px;
        opacity: 0;
        visibility: hidden;
    }

    .main-content-outerbox .main-content-column {
        padding-left: 0px;
    }

    .main-content-outerbox .mobile-project .project-backdrop {
        display: block;
    }

    .main-content-outerbox .fixed-left-column {
        position: relative;
    }

    .main-header.header-style-three {
        display: block;
    }

    .main-content-outerbox .mobile-project .project-box {
        padding: 0px;
        background: #141417;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    .mobile-project-visible .main-content-outerbox .mobile-project .project-box {
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }

    .mobile-project-visible .main-content-outerbox .mobile-project {
        opacity: 1;
        visibility: visible;
    }

    .main-content-outerbox .mobile-project .navigation li {
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        border-bottom: none;
    }

    .main-content-outerbox .mobile-project .navigation li.dropdown .dropdown-btn {
        width: 32px;
        height: 32px;
        background: #fff;
        color: #222;
    }

    .main-content-outerbox .mobile-project .navigation li.dropdown .dropdown-btn span {
        display: inline-block;
    }

    .main-content-outerbox .mobile-project .navigation li.dropdown .dropdown-btn.open {
        -webkit-transform: rotate(90deg) !important;
        -ms-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;
    }

    .main-content-outerbox .fixed-left-column {
        z-index: 999999999;
        width: 100%;
    }

    .main-content-outerbox .mobile-project .navigation li>a {
        padding: 10px 25px;
        line-height: 24px;
    }

    #main-body .outer-container .large-container .Header
{    letter-spacing: 6px;
    word-spacing: 6px;
    font-size: 20px;
}

    .project-style-three .inner-content {
        margin-right: 0px;
    }

    .page-title {
        padding: 0px;
    }

    .about-style-three .image-box .icon-box {
        display: none;
    }

    .about-style-three .image-box {
        margin: 0px;
    }

    .service-style-two .service-block-one .inner-box {
        padding-left: 30px;
        padding-right: 30px;
    }

    .chefs_details .inner-box .content-box {
        padding-left: 30px;
        padding-right: 30px;
    }

    .contact-page-section .form-inner {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 768px) {

    .main-project .navigation>li>ul,
    .main-project .navigation>li>ul>li>ul{
        display: block !important;
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and (max-width: 991px) {
    .banner-section .banner-thumb-inner {
        display: none;
    }

    .banner-section {
        padding-bottom: 0px;
    }

    .service-block-one {
        margin-bottom: 30px;
    }

    .service-section {
        padding-bottom: 120px;
    }

    .seller-section {
        padding-bottom: 120px;
    }

    .line-shape {
        display: none !important;
    }

    .main-footer .sec-title {
        margin-bottom: 30px;
    }

    .main-footer .footer-widget {
        margin-bottom: 30px;
    }

    .banner-style-two .image-inner {
        margin-top: 30px;
    }
    
    .main-footer.style-two .links-widget,
    .main-footer.style-two .contact-widget {
        margin: 0px;
    }

    .main-footer.style-two .contact-widget {
        margin-top: 30px;
    }

    .about-style-three .content-box {
        margin-bottom: 30px;
    }

    .chefs_details .inner-box {
        padding-left: 0px;
    }

    .chefs_details .inner-box .image-box {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .contact-page-section .content-box {
        margin-top: 30px;
    }

}


@media only screen and (max-width: 767px) {

    .banner-carousel .content-box h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-carousel .slide-seller {
        padding: 120px 0px;
    }


    .sec-title h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .sec-title h2 br {
        display: none;
    }

    .service-section {
        padding-bottom: 40px;
    }

    .project-section .more-btn {
        margin-top: 30px;
    }

    .clients-section .shape {
        display: none;
    }

    .clients-section {
        padding-top: 70px;
    }

    .seller-section {
        padding: 65px 0px 40px 0px;
    }

    .banner-style-two .slider-content .single-seller .content-box h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .banner-style-two {
        padding-bottom: 70px;
    }

    .about-style-two {
        padding-bottom: 70px;
    }


    .main-footer.style-two .sec-title h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .main-footer.style-two .contact-widget .copyright {
        margin-top: 60px;
    }

    .main-footer.style-three .footer-top h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-lower {
        padding-left: 0px;
        padding-right: 0px;
    }

    .page-title .outer-container {
        padding: 70px 0px;
    }

    .page-title .title-box h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .page-title:before {
        display: none;
    }

    .clients-section.about-page {
        padding: 0px;
    }

    .about-style-three {
        padding: 70px 0px;
    }

    .about-style-three .image-box {
        padding: 0px;
    }

    .about-style-three .image-box .image-2 {
        position: relative;
        margin-top: 30px;
    }

    .service-style-two,
    .service-section.service-page {
        padding: 65px 0px 40px 0px;
    }

    .testimonial-style-three {
        padding-bottom: 70px;
    }

    .service-details {
        padding: 70px 0px;
    }

    .service-sidebar {
        margin-top: 40px;
    }

    .project-details {
        padding: 70px 0px 40px 0px;
    }

    .project-details .content-two .image {
        margin-bottom: 30px;
    }

    .chefs-page-section {
        padding: 65px 0px 40px 0px;
    }

    .chefs_details {
        padding: 70px 0px 40px 0px;
    }

    .chefs-section.chefs_details-page .chefs-block-one {
        margin-bottom: 60px;
    }

    .chefs-section.chefs_details-page {
        padding-bottom: 40px;
    }

    .chefs_details .inner-box .content-box {
        padding-top: 65px;
        padding-bottom: 90px;
    }

    .seller-block-two .inner-box h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .sidebar-page-container {
        padding: 70px 0px;
    }

    .contact-page-section .sec-title h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .contact-page-section {
        padding: 65px 0px 70px 0px;
    }

    .header-lower {
        padding-left: 15px;
        padding-right: 15px;
    }

    .project-section .carousel-content {
        margin-right: 0px;
    }

    .project-block-one .inner-box .content-box {
        padding-left: 30px;
        padding-right: 30px;
    }

    .banner-style-two .slider-content .single-seller .content-box h2 span {
        display: inline-block;
    }
}

@media only screen and (max-width: 599px) {

    .pagination li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .about-style-three .image-box .image {
        width: 100%;
    }
}


@media only screen and (max-width: 499px) {

    .banner-style-two .slider-content .single-seller .content-box {
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
    }


    .mobile-project {
        width: 100%;
    }
}
